{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section id="main-content">

  <section class="wrapper">

    <div class="row">

      <div class="col-md-12">

        <div class="content-panel" style="background-color: transparent!important;">

          <!--Header-->
          <div class="body">

            <h2>
              {{title_complete}}
            </h2>

            <div class="header-btn">

              <a id="gerar_pdf_venda" href="{% url 'vendas:gerarpdforcamentovenda' object.id %}" class="btn btn-primary"
                style="display: flex;align-items: center;justify-content: center;width: 200px;margin-bottom: 10px;">GERAR
                PDF</a>

              {% if object.status == '0' %}

              <a id="gerar_pedido_venda" href="{% url 'vendas:gerarpedidovenda' object.id %}" class="btn btn-success"
                style="display: flex;align-items: center;justify-content: center;width: 200px;margin-bottom: 10px;">GERAR
                PEDIDO</a>

              <a id="cancelar_orcamento_venda" href="{% url 'vendas:cancelarorcamentovenda' object.id %}"
                class="btn btn-red"
                style="display: flex;align-items: center;justify-content: center;width: 200px;margin-bottom: 10px;">CANCELAR</a>

              {% else %}

              <a id="gerar_copia_orcamento_venda" href="{% url 'vendas:copiarorcamentovenda' object.id %}"
                class="btn btn-primary"
                style="display: flex;align-items: center;justify-content: center;width: 200px;margin-bottom: 10px;">GERAR
                CÓPIA DO ORÇAMENTO</a>

              {% endif %}

            </div>

          </div>
          <!--# Header-->

          <form id="venda_form_edit" role="form" action="" method="post">

            {% csrf_token %}

            {% include 'vendas/venda_form.html' %}

          </form>

        </div>

      </div>

    </div>

  </section>

</section>

{%endblock%}

{% block js %}

{% include 'vendas/venda_jsblock.html' %}

{% endblock %}