{%extends 'base/base.html'%}

{%block content%}
<section id="main-content">
  <section class="wrapper">

    <h2>Listagem</h2>

    <div class="row">
      <div class="col-md-12">
        <div class="content-panel">

          <h4>{{title_complete}}</h4>

          <form action="" method="post">

            {% csrf_token %}

            <div class="header-btn">

              <a href="{{add_url}}" class="btn btn-success add-button">
                <i class="material-icons">&#xE148;</i>
                <span> ADICIONAR</span>
              </a>

            </div>

            {% include 'base/msg_sucesso.html' %}

            {% include 'base/search.html' %}

            <div class="table-responsive">

              <table id="lista-database" class="table">

                <thead>
                  <tr>
                    <th>#ID</th>
                    <th>Status</th>
                    <th>Cliente</th>
                    <th>Data de vencimento</th>
                    <th>Total</th>
                    <th>Gerar pedido</th>
                    <th>Cancelar</th>
                    <th class="acoes">Ações</th>
                    <th>Manual</th>
                  </tr>
                </thead>

                <tbody>

                  {% if all_orcamentos%}

                  {% for orcamento in all_orcamentos %}

                  <tr>

                    <td>
                      {{orcamento.id}}
                    </td>

                    <td>
                      <b>{{orcamento.get_status_display}}</b>
                    </td>

                    <td>
                      {{orcamento.cliente|default_if_none:""}}
                    </td>

                    <td>
                      {{orcamento.format_data_vencimento|default_if_none:""}}
                    </td>

                    <td>
                      {{orcamento.format_valor_total}}
                    </td>

                    {% if orcamento.status == '0' %}

                    <td class="green_td">
                      <a href="{% url 'vendas:gerarpedidovenda' orcamento.id %}" class="prevent-click-row">
                        <i class="material-icons icon" style="color: green;">&#xE86C;</i>
                      </a>
                    </td>

                    <td class="red_td">
                      <a href="{% url 'vendas:cancelarorcamentovenda' orcamento.id %}" class="prevent-click-row">
                        <i class="material-icons icon" style="color: red">&#xE033;</i>
                      </a>
                    </td>



                    {% else %}

                    <td>

                    </td>

                    <td>

                    </td>

                    {% endif %}

                    <td class="lista-remove">

                      <!-- editar fornecedor -->
                      <a href="{% url 'vendas:editarorcamentovendaview' orcamento.id %}" class="btn btn-editar">
                        <i class="fa fa-pencil"></i>
                      </a>

                      <!-- Excluir fornecedor -->
                      <a href="" class="btn btn-excluir">
                        <i class="fa fa-trash"></i>
                      </a>

                    </td>

                    <td>
                      <button type="button" class="btn btn-editar" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-file"></i>
                      </button>
                    </td>

                  </tr>

                  {% endfor %}

                  {%else%}

                  {%endif%}

                </tbody>

              </table>

            </div>

          </form>

        </div>

      </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true" style="background: transparent!important; box-shadow: none!important;">

      <div class="modal-dialog" role="document">

        <div class="modal-content" style="background: white!important; box-shadow: none!important;">

          <div class="modal-header" style="display: flex; align-items: center;">
            <h5 class="modal-title titulo_filtrar" id="exampleModalLabel" style="margin-right: auto;">PEDIDO/ORÇAMENTO
              MANUAL</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">X</span>
            </button>
          </div>

          <div class="modal-body">
            <form action="#" method="POST">
              {% csrf_token %}
              <input style="color: black;" type="file" class="form-control" name="manual">
              <button type="submit"
                style="display: flex; margin-top: 10px; margin-inline-start: auto; color: black;">salvar</button>
            </form>
          </div>

        </div>

      </div>

    </div>

  </section>
</section>


{%endblock%}