{%extends 'base/base.html'%}

{%block content%}
<section id="main-content">

  <section class="wrapper">

    <div class="row">

      <div class="col-md-12">

        <div class="content-panel" style="background-color: transparent!important;">

          <!--Header-->
          <div class="body">

            <h2>
              <a href="{{return_url}}">
                <i class="material-icons">&#xE5C4;</i>
              </a>
              Editar Forma de pagamento: {{form.descricao.value}}
            </h2>

          </div>
          <!--# Header-->

          <form role="form" action="" method="post">

            {% csrf_token %}

            {% include 'vendas/pagamento/condicao_pagamento_form.html' %}

          </form>

        </div>

      </div>

    </div>

  </section>

</section>


{%endblock%}

{% block js %}

{% include 'base/load_jqueryui.html' %}

{% include 'base/tooltip_js.html' %}

{% endblock %}