{%extends 'base/base.html'%}


{%block content%}
<section id="main-content">

  <section class="wrapper">

    <h3>{% include 'base/title_header.html' %}</h3>

    <div class="row">

      <div class="col-md-12">

        <div class="content-panel">

          <h4>{{title_complete}}</h4>

          <form action="" method="post">
            {% csrf_token %}

            <div class="header-btn">

              <a href="{{add_url}}" class="btn btn-success add-button">
                <i class="material-icons">&#xE148;</i>
                <span>ADICIONAR</span>
              </a>

            </div>

            <div class="body">

              {% include 'base/search.html' %}

              <div class="table-responsive">
                <table id="lista-database" class="table">
                  <thead>
                    <tr>
                      <th>#ID</th>
                      <th>Descrição</th>
                      <th>Parcelas</th>
                      <th>Forma</th>
                      <th>Recorrência</th>
                      <th>Ações</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% if all_cond_pagamento%}
                    {% for cond in all_cond_pagamento %}
                    <tr>
                      <td>{{cond.id}}</td>
                      <td>{{cond.descricao}}</td>
                      <td>{{cond.n_parcelas}}</td>
                      <td>{{cond.get_forma_display}}</td>
                      <td>{{cond.recorrencia|default_if_none:""}}</td>
                      <td class="lista-remove">
                        <a href="{% url 'vendas:editarcondicaopagamentoview' cond.id %}" class="btn btn-editar">
                          <i class="fa fa-pencil"></i>
                        </a>

                        <input type="checkbox" name="{{cond.id}}" id="remover-entrada-{{cond.id}}" />
                        <label class="remove-entry-label btn btn-excluir" for="remover-entrada-{{cond.id}}">
                          <i class="fa fa-trash"></i>
                        </label>
                      </td>
                    </tr>
                    {% endfor %}
                    {%else%}
                    {%endif%}
                  </tbody>
                </table>
              </div>

            </div>

          </form>

        </div>

      </div>

    </div>

  </section>

</section>


{%endblock%}