

<div class="modal fade imposto_modal" style="border-radius: 10px; width: 80%; padding-right: 0px!important;">

  <div class="modal-dialog" style="margin: 0px; width: 100%;">

    <div class="modal-content">

      <div class="modal-header" style="border-radius: 10px 10px 0px 0px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          CÁLCULO DOS IMPOSTOS
        </h4>
      </div>

      <div class="modal-body">
        <div class="container-fluid">

          <!-- Calculo automatico -->
          <div class="row">

            <div style="width: 100%; margin-bottom: 20px;">
              <h4 style="border-bottom: 1px solid #afabab;">Opções</h4>
            </div>

            <div class="col-sm-8">
              <div class="form-group">
                <div class="form-check" style="display: flex;">
                  
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="id_auto_calcular_modal"
                    {% if form.tipo_pessoa.value or form.tipo_pessoa.value is None %}
                      checked
                    {% endif %}
                  />

                  <label
                    class="form-check-label"
                    style="font-weight: bold;"
                    for="id_auto_calcular_modal"
                  >
                    Calcular impostos automaticamente?
                  </label>

                  <i
                    class="material-icons"
                    style="font-size: 18px;margin-left: 10px;"
                    title="Desmarcar esta opção caso o cálculo automático dos impostos esteja incorreto."
                  >
                    &#xE887;
                  </i>
                
                </div>
              </div>
            </div>
          </div>
          <!-- #Calculo automatico -->

          <!-- Cálculo -->
          <div class="row">
            
            <div style="width: 100%; margin-bottom: 20px;">
              <h4 style="border-bottom: 1px solid #afabab;">Cálculo</h4>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-check">

                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="id_ipi_incluso_modal"
                  />

                  <label
                    class="form-check-label"
                    style="font-weight: bold;"
                    for="id_ipi_incluso_modal"
                  >
                    IPI incluso no preço?
                  </label>
                
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-check">

                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="id_icms_incluso_modal"
                  />

                  <label
                    class="form-check-label"
                    style="font-weight: bold;"
                    for="id_icms_incluso_modal"
                  >
                    ICMS incluso no preço?
                  </label>
                
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-check">

                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="id_ipi_bc_icms_modal"
                  />
                  
                  <label
                    class="form-check-label"
                    style="font-weight: bold;"
                    for="id_ipi_bc_icms_modal"
                  >
                    IPI incluso na BC do ICMS?
                  </label>
                
                </div>
              </div>
            </div>

          </div>
          <!-- #Cálculo -->

          <!-- IPI -->
          <div class="row">

            <div style="width: 100%; margin-bottom: 20px;">
              <h4 style="border-bottom: 1px solid #afabab;">IPI</h4>
            </div>

            <div class="col-sm-6">
              <div class="form-group">

                <label>
                  % IPI
                </label>

                <input
                  type="text"
                  class="form-control percentual-mask input_no_edit campo_imposto_editavel"
                  id="id_pipi_modal"
                />
              
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">

                <label>
                  Vl. IPI (R$)
                </label>

                <input
                  type="text"
                  class="form-control decimal-mask-no-dot input_no_edit campo_imposto_editavel"
                  id="id_vipi_modal"
                />
              
              </div>
            </div>
          </div>
          <!-- #IPI -->

          <!-- ICMS -->
          <div class="row">

            <div style="width: 100%; margin-bottom: 20px;">
              <h4 style="border-bottom: 1px solid #afabab;">ICMS</h4>
            </div>

            <div class="col-sm-4">
              <div class="form-group">

                <label>
                  % Redução da BC
                </label>

                <input
                  type="text"
                  class="form-control input_no_edit percentual-mask"
                  id="id_p_red_bc"
                  readonly="true"
                />
              
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">

                <label>
                  % ICMS
                </label>
                
                <input
                  type="text"
                  class="form-control percentual-mask input_no_edit campo_imposto_editavel"
                  id="id_picms_modal"
                />
              
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">

                <label>
                  Vl. ICMS (R$)
                </label>

                <input
                  type="text"
                  class="form-control decimal-mask-no-dot input_no_edit campo_imposto_editavel"
                  id="id_vicms_modal"
                />
              
              </div>
            </div>
          </div>
          <!-- #ICMS -->

          <!-- Total -->
          <div class="row">

            <div style="width: 100%; margin-bottom: 20px;">
              <h4 style="border-bottom: 1px solid #afabab;">TOTAL</h4>
            </div>

            <div class="col-sm-3">
              <div class="form-group">

                <label>
                  Subtotal (R$)
                </label>

                <input
                  type="text"
                  class="form-control decimal-mask-no-dot input_no_edit"
                  id="id_subtotal_modal"
                  readonly="true"
                />
              
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">

                <label>
                  Total impostos (R$)
                </label>

                <input
                  type="text"
                  class="form-control decimal-mask-no-dot input_no_edit"
                  id="id_total_impostos_modal"
                  readonly="true"
                />
              
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">

                <label>
                  Desconto (R$)
                </label>

                <input
                  type="text"
                  class="form-control decimal-mask"
                  id="id_rateio_desconto_modal"
                />
              
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">

                <label>
                  Total (R$)
                </label>

                <input
                  type="text"
                  class="form-control decimal-mask-no-dot input_no_edit"
                  id="id_total_modal"
                  readonly="true"
                />
              
              </div>
            </div>
          </div>
          <!-- #Total -->

        </div>
      </div>  

      <div class="modal-footer" style="background-color: white!important; padding-top: 15px;">

        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
        >
          FECHAR
        </button>

        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          id="salvar_impostos_modal"
        >
          SALVAR
        </button>
      
      </div>

    </div>  

  </div>
  
</div>