{%extends 'base/base.html'%}

{%block title%}
{{title_complete|title}}
{%endblock%}

{%block content%}
<section id="main-content">

  <section class="wrapper">

    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <!--Header-->
        <div class="body">

          <h2 style="margin-left: 15px; margin-bottom: 20px;">
            <!-- <a href="{{return_url}}">
              <i class="material-icons">&#xE5C4;</i>
            </a> -->
            {{title_complete}}
          </h2>

        </div>
        <!--# Header-->

        <form role="form" action="" method="post">

          {% csrf_token %}

          {% include 'financeiro/lancamento/lancamento_form.html' %}

        </form>

      </div>

    </div>

  </section>

</section>

{%endblock%}

{% block js %}

{% include 'financeiro/lancamento/lancamento_jsblock.html' %}

{% endblock %}