{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section id="main-content">

  <section class="wrapper">

    <div class="row">

      <div class="col-md-12">

        <div class="content-panel" style="background-color: transparent!important;">

          <!--Header-->
          <div class="body">

            <h2>
              <a href="{{return_url}}">
                <i class="material-icons">&#xE5C4;</i>
              </a>
              {{title_complete}}
            </h2>

            <div class="header-btn">

              <a id="gerar_pdf_compra" href="{% url 'compras:gerarpdforcamentocompra' object.id %}"
                class="btn btn-primary"
                style="display: flex;align-items: center;justify-content: center;width: 200px;margin-bottom: 10px;">GERAR
                PDF</a>

              {% if object.status == '0' %}

              <a id="gerar_pedido_compra" href="{% url 'compras:gerarpedidocompra' object.id %}" class="btn btn-success"
                style="display: flex;align-items: center;justify-content: center;width: 200px;margin-bottom: 10px;">GERAR
                PEDIDO</a>

              <a id="cancelar_orcamento_compra" href="{% url 'compras:cancelarorcamentocompra' object.id %}"
                class="btn btn-red"
                style="display: flex;align-items: center;justify-content: center;width: 200px;margin-bottom: 10px;">CANCELAR</a>

              {% else %}

              <a id="gerar_copia_orcamento_compra" href="{% url 'compras:copiarorcamentocompra' object.id %}"
                class="btn btn-primary"
                style="display: flex;align-items: center;justify-content: center;width: 200px;margin-bottom: 10px;">GERAR
                CÓPIA
                DO ORÇAMENTO</a>

              {% endif %}

            </div>

          </div>
          <!--# Header-->

          <form id="compra_form_edit" role="form" action="" method="post">

            {% csrf_token %}

            {% include 'compras/compra_form.html' %}

          </form>

        </div>

      </div>

    </div>

  </section>

</section>

{%endblock%}

{% block js %}

{% include 'compras/compra_jsblock.html' %}

{% endblock %}