{%extends 'base/base.html'%}

{%block content%}
<section id="main-content">
  <section class="wrapper">

    <h3>Listagem</h3>

    <div class="row">
      <div class="col-md-12">
        <div class="content-panel">

          <h4>{{title_complete}}</h4>

          <form action="" method="post">

            {% csrf_token %}

            <div class="header-btn">

              <a href="{{add_url}}" class="btn btn-success add-button">
                <i class="material-icons">&#xE148;</i>
                <span> ADICIONAR</span>
              </a>

            </div>

            {% include 'base/msg_sucesso.html' %}

            {% include 'base/search.html' %}

            <div class="table-responsive">

              <table id="lista-database" class="table">
                
                <thead>
                  <tr>
                    <th>#ID</th>                   
                    <th>Status</th>
                    <th>Fornecedor</th>
                    <th>Data de vencimento</th>
                    <th>Total</th>
                    <th>Gerar pedido</th>
                    <th>Cancelar</th>
                    <th class="acoes">Ações</th>
                  </tr>
                </thead>

                <tbody>

                  {% if all_orcamentos%}

                    {% for orcamento in all_orcamentos %}

                      <tr>

                        <td>
                          {{orcamento.id}}
                        </td>

                        <td>
                          <b>{{orcamento.get_status_display}}</b>
                        </td>

                        <td>
                          {{orcamento.fornecedor|default_if_none:""}}
                        </td>

                        <td>
                          {{orcamento.format_data_vencimento|default_if_none:""}}
                        </td>

                        <td>
                          {{orcamento.format_valor_total}}
                        </td>

                        {% if orcamento.status == '0' %}

                          <td class="green_td">
                            <a href="{% url 'compras:gerarpedidocompra' orcamento.id %}" class="prevent-click-row">
                              <i class="material-icons icon" style="color: green;">description</i>
                            </a>
                          </td>
                          
                          <td class="red_td">
                            <a href="{% url 'compras:cancelarorcamentocompra' orcamento.id %}" class="prevent-click-row">
                              <i class="material-icons icon" style="color: red;">&#xE033;</i>
                            </a>
                          </td>                        

                        {% else %}

                          <td>

                          </td>

                          <td>

                          </td>

                        {% endif %}

                        <td class="lista-remove">

                          <!-- editar fornecedor -->
                          <a href="{% url 'compras:editarorcamentocompraview' orcamento.id %}" class="btn btn-editar">
                            <i class="fa fa-pencil"></i>
                          </a>

                          <!-- Excluir fornecedor -->
                          <a href="" class="btn btn-excluir">
                            <i class="fa fa-trash"></i>
                          </a>

                        </td>

                      </tr>

                    {% endfor %}

                  {%else%}

                  {%endif%}
                  
                </tbody>

              </table>

            </div>

          </form>

        </div>

      </div>

    </div>

  </section>
</section>


{%endblock%}