{%extends 'base/base.html'%}

{%block content%}
<section id="main-content">
  <section class="wrapper">

    <h2>{{title_complete|lower}}</h2>

    <div class="row">
      <div class="col-md-12">

          <form id="addfornecedor_form" role="form" action="" method="post" enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Body-->
            <div class="row">

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div id="tabs" class="tab-content">

                  {% include 'cadastro/produto/produto_tab_list.html' %}

                  <!-- Tab dados gerais -->
                  <div role="tabpanel" class="tab-pane active" id="tab_dados_gerais" style="margin-top: 20px;">

                    {% include 'cadastro/produto/produto_tab_dados_gerais.html' %}

                  </div>
                  <!-- #Tab dados gerais -->

                  <!-- Tab estoque -->
                  <div role="tabpanel" class="tab-pane formset-tab" id="tab_estoque" style="margin-top: 20px;">

                    {% include 'cadastro/produto/produto_tab_estoque.html' %}

                  </div>
                  <!-- #Tab estoque -->

                  <!-- Tab fiscal -->
                  <div role="tabpanel" class="tab-pane formset-tab" id="tab_fiscal" style="margin-top: 20px;">

                    {% include 'cadastro/produto/produto_tab_fiscal.html' %}

                  </div>
                  <!-- #Tab fiscal -->
                  
                </div>

              </div>

              <button class="btn btn-success foot-btn" type="submit" style="margin-left: 15px;">
                <i class="material-icons">&#xE148;</i>
                <span> SALVAR</span>
              </button>

            </div>
            <!--#Body-->
          </form>

      </div>
    </div>

  </section>
</section>


{%endblock%}

{% block js %}
    
    {% include 'cadastro/produto/produto_jsblock.html' %}

{% endblock %}