{%extends 'base/base.html'%}

{%block content%}
<section id="main-content">

  <section class="wrapper">

    <div class="row">

      <div class="col-md-12">

        <div class="content-panel" style="background-color: transparent!important;">

          <!--Header-->
          <div class="body" style="margin-left: 15px;">

            <h2>
              Editar Produto: {{form.descricao.value}}
            </h2>

          </div>
          <!--# Header-->

          <form role="form" action="" method="post" enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Body-->
            <div class="body">

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tabs" style="margin-bottom: 15px;">

                {% include 'cadastro/produto/produto_tab_list.html' %}

                <!-- Tab dados gerais -->
                <div role="tabpanel" class="tab-pane active" id="tab_dados_gerais">

                  {% include 'cadastro/produto/produto_tab_dados_gerais.html' %}

                </div>
                <!-- #Tab dados gerais -->

                <!-- Tab estoque -->
                <div role="tabpanel" class="tab-pane formset-tab" id="tab_estoque">

                  {% include 'cadastro/produto/produto_tab_estoque.html' %}

                </div>
                <!-- #Tab estoque -->

                <!-- Tab fiscal -->
                <div role="tabpanel" class="tab-pane formset-tab" id="tab_fiscal">

                  {% include 'cadastro/produto/produto_tab_fiscal.html' %}

                </div>
                <!-- #Tab fiscal -->

              </div>

            </div>

            <button class="btn btn-success foot-btn d-flex align-items-center" type="submit" style="margin-left: 15px;">
              <i class="material-icons">&#xE148;</i>
              <span>
                SALVAR
              </span>
            </button>

        </div>
        <!--#Body-->

        </form>

      </div>

    </div>

    </div>

  </section>

</section>

{%endblock%}

{% block js %}

{% include 'cadastro/produto/produto_jsblock.html' %}

{% endblock %}