{%extends 'base/base.html'%}

{%block content%}
<section id="main-content">
  <section class="wrapper">

    <h2>Listagem</h2>

    <div class="row">
      <div class="col-md-12">
        <div class="content-panel">

          <h4>Unidades cadastradas</h4>

          <form action="" method="post">

            {% csrf_token %}

            <div class="header-btn">

              <a href="{% url 'cadastro:addunidadeview' %}" class="btn btn-success add-button"
                title="Adicionar unidade">
                <i class="material-icons">&#xE148;</i>
                <span> ADICIONAR</span>
              </a>

            </div>

            {% include 'base/msg_sucesso.html' %}

            {% include 'base/search.html' %}

            <div class="table-responsive">

              <table id="lista-database" class="table">

                <thead>
                  <tr>
                    <th>#ID</th>
                    <th>Sigla</th>
                    <th>Descrição</th>
                    <th class="acoes">Ações</th>
                  </tr>
                </thead>

                <tbody>

                  {% if all_unidades%}

                  {% for unidade in all_unidades %}

                  <tr>

                    <td>{{unidade.id}}</td>

                    <td>{{unidade.sigla_unidade}}</td>

                    <td>{{unidade.unidade_desc}}</td>

                    <td class="lista-remove">

                      <!-- editar fornecedor -->
                      <a href="{% url 'cadastro:editarunidadeview' unidade.id %}" class="btn btn-editar">
                        <i class="fa fa-pencil"></i>
                      </a>

                      <!-- Excluir fornecedor -->
                      <a href="" class="btn btn-excluir">
                        <i class="fa fa-trash"></i>
                      </a>

                    </td>

                  </tr>

                  {% endfor %}

                  {%else%}

                  {%endif%}

                </tbody>

              </table>

            </div>

          </form>

        </div>
      </div>
    </div>

  </section>
</section>


{%endblock%}