<div class="row box-tabs">

  <div class="col-md-10 box-info-financeiro">

    <div class="container-box">

      <div class="perfil">

        <div class="perfil-info">

          <div class="name">

            <p class="title-label">
              Boa tarde,
            </p>

            <p class="perfil-name-label">
              Brasil Fertilizantes
            </p>

          </div>

          <div class="balanco">

            <p class="title-label">
              saldo geral
            </p>

            <p>
              R$ 
              <strong class="strong-valor">
                {% if all_lancamentos %}
                {% for lancamento in all_lancamentos %}
                {{lancamento.format_valor_liquido}}
                {% endfor %}
                {%else%}
                {%endif%}
              </strong>
            </p>

          </div>

        </div>

        <div class="perfil-list-info">

          <div class="info-box-label">

            <p class="title-info-box">
              receita mensal
            </p>


            <p class="valor-label" style="color: #129e3f;">

            </p>


          </div>

          <div class="info-box-label">

            <p class="title-info-box">
              despensa mensal
            </p>



            <p class="valor-label" style="color: #d72638;">
              R$ -377.964,11
            </p>



          </div>

          <div class="info-box-label">

            <p class="title-info-box">
              balanço do mês
            </p>

            <p class="valor-label" style="color: #3062d4;">
              R$ 686.161,08
            </p>

          </div>

        </div>

      </div>

      <div class="add-rapido">

        <h2 class="add-rapido-title">
          Acesso rápido
        </h2>

        <ul class="btn-list">

          <li class="btn-action">
            <a class="btn-action-a" href="{% url 'financeiro:addcontapagarview' %}">

              <i class="fas fa-minus" style="color: #d72638; font-size: 43px; padding-left: 5px;"></i>

              <p class="btn-title">
                DESPESA
              </p>

            </a>
          </li>

          <li class="btn-action">
            <a class="btn-action-a" href="{% url 'financeiro:addcontareceberview' %}">

              <i class="fas fa-plus" style="color: #129e3f; font-size: 43px; padding-left: 5px;"></i>

              <p class="btn-title">
                RECEITA
              </p>

            </a>
          </li>

        </ul>

      </div>

    </div>

  </div>

</div>
<div class="row box-tabs">

  <div class="col-md-5 box-contas-pagar">

    <div class="container-contas-pagar">

      <h2 class="contas-title">
        Contas a pagar
      </h2>

      <div class="box-contas-notificacao" style="background-color: #fee6e6;">
        <span style="color: #d72638;">
          Contas Pendentes
        </span>
      </div>

      <div class="contas-pagar-list">

        <ul>
          <li>
            <a class="contas-a" href="">

              <div style="display: flex; flex-direction: row;">

                <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
  
                <span style="max-width: 300px;">
  
                  <h3 class="contas-title-label">
                    IPTU FIRMA FERTILIZANTES FARDIN E FARDIN E FARDIN
                  </h3>
  
                  <p class="contas-subtitle-label">
                    01/01/2023
                  </p>
  
                </span>

              </div>

              <div>

                <h3 class="contas-value-label">
                  R$ 0,00
                </h3>

              </div>
            </a>
          </li>
          <li>
            <a class="contas-a" href="">

              <div style="display: flex; flex-direction: row;">

                <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
  
                <span style="max-width: 300px;">
  
                  <h3 class="contas-title-label">
                    IPTU FIRMA FERTILIZANTES FARDIN E FARDIN E FARDIN
                  </h3>
  
                  <p class="contas-subtitle-label">
                    01/01/2023
                  </p>
  
                </span>

              </div>

              <div>

                <h3 class="contas-value-label">
                  R$ 0,00
                </h3>

              </div>
            </a>
          </li>
          <li>
            <a class="contas-a" href="">

              <div style="display: flex; flex-direction: row;">

                <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
  
                <span style="max-width: 300px;">
  
                  <h3 class="contas-title-label">
                    IPTU FIRMA FERTILIZANTES FARDIN E FARDIN E FARDIN
                  </h3>
  
                  <p class="contas-subtitle-label">
                    01/01/2023
                  </p>
  
                </span>

              </div>

              <div>

                <h3 class="contas-value-label">
                  R$ 0,00
                </h3>

              </div>
            </a>
          </li>
        </ul>

      </div>

      <div class="box-contas-notificacao" style="background-color: #f8f8f8;">
        <span style="color: #858782;">
          Próximas
        </span>
      </div>

      <div class="contas-pagar-list">

        <ul>
          <li>
            <a class="contas-a" href="">

              <div style="display: flex; flex-direction: row;">

                <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
  
                <span style="max-width: 300px;">
  
                  <h3 class="contas-title-label">
                    IPTU FIRMA FERTILIZANTES FARDIN E FARDIN E FARDIN
                  </h3>
  
                  <p class="contas-subtitle-label">
                    01/01/2023
                  </p>
  
                </span>

              </div>

              <div>

                <h3 class="contas-value-label">
                  R$ 0,00
                </h3>

              </div>
            </a>
          </li>
          <li>
            <a class="contas-a" href="">

              <div style="display: flex; flex-direction: row;">

                <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
  
                <span style="max-width: 300px;">
  
                  <h3 class="contas-title-label">
                    IPTU FIRMA FERTILIZANTES FARDIN E FARDIN E FARDIN
                  </h3>
  
                  <p class="contas-subtitle-label">
                    01/01/2023
                  </p>
  
                </span>

              </div>

              <div>

                <h3 class="contas-value-label">
                  R$ 0,00
                </h3>

              </div>
            </a>
          </li>
          <li>
            <a class="contas-a" href="">

              <div style="display: flex; flex-direction: row;">

                <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
  
                <span style="max-width: 300px;">
  
                  <h3 class="contas-title-label">
                    IPTU FIRMA FERTILIZANTES FARDIN E FARDIN E FARDIN
                  </h3>
  
                  <p class="contas-subtitle-label">
                    01/01/2023
                  </p>
  
                </span>

              </div>

              <div>

                <h3 class="contas-value-label">
                  R$ 0,00
                </h3>

              </div>
            </a>
          </li>
        </ul>

      </div>

    </div>
  
  </div>
  
  <div class="col-md-5 box-contas-receber">

    <div class="container-contas-receber">

      <h2 class="contas-title">
        Contas a receber
      </h2>

      <div class="box-contas-notificacao" style="background-color: #fee6e6;">
        <span style="color: #d72638;">
          Contas A Receber Atrasadas
        </span>
      </div>

      <div class="contas-receber-list">

        <ul>
          <li>
            <a class="contas-a" href="">

              <div style="display: flex; flex-direction: row;">

                <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
  
                <span style="max-width: 300px;">
  
                  <h3 class="contas-title-label">
                    IPTU FIRMA FERTILIZANTES FARDIN E FARDIN E FARDIN
                  </h3>
  
                  <p class="contas-subtitle-label">
                    01/01/2023
                  </p>
  
                </span>

              </div>

              <div>

                <h3 class="contas-value-label">
                  R$ 0,00
                </h3>

              </div>
            </a>
          </li>
          <li>
            <a class="contas-a" href="">

              <div style="display: flex; flex-direction: row;">

                <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
  
                <span style="max-width: 300px;">
  
                  <h3 class="contas-title-label">
                    IPTU FIRMA FERTILIZANTES FARDIN E FARDIN E FARDIN
                  </h3>
  
                  <p class="contas-subtitle-label">
                    01/01/2023
                  </p>
  
                </span>

              </div>

              <div>

                <h3 class="contas-value-label">
                  R$ 0,00
                </h3>

              </div>
            </a>
          </li>
          <li>
            <a class="contas-a" href="">

              <div style="display: flex; flex-direction: row;">

                <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
  
                <span style="max-width: 300px;">
  
                  <h3 class="contas-title-label">
                    IPTU FIRMA FERTILIZANTES FARDIN E FARDIN E FARDIN
                  </h3>
  
                  <p class="contas-subtitle-label">
                    01/01/2023
                  </p>
  
                </span>

              </div>

              <div>

                <h3 class="contas-value-label">
                  R$ 0,00
                </h3>

              </div>
            </a>
          </li>
        </ul>

      </div>

      <div class="box-contas-notificacao" style="background-color: #f8f8f8;">
        <span style="color: #858782;">
          Próximas
        </span>
      </div>

      <div class="contas-receber-list">

        <ul>
          <li>
            <a class="contas-a" href="">

              <div style="display: flex; flex-direction: row;">

                <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
  
                <span style="max-width: 300px;">
  
                  <h3 class="contas-title-label">
                    IPTU FIRMA FERTILIZANTES FARDIN E FARDIN E FARDIN
                  </h3>
  
                  <p class="contas-subtitle-label">
                    01/01/2023
                  </p>
  
                </span>

              </div>

              <div>

                <h3 class="contas-value-label">
                  R$ 0,00
                </h3>

              </div>
            </a>
          </li>
          <li>
            <a class="contas-a" href="">

              <div style="display: flex; flex-direction: row;">

                <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
  
                <span style="max-width: 300px;">
  
                  <h3 class="contas-title-label">
                    IPTU FIRMA FERTILIZANTES FARDIN E FARDIN E FARDIN
                  </h3>
  
                  <p class="contas-subtitle-label">
                    01/01/2023
                  </p>
  
                </span>

              </div>

              <div>

                <h3 class="contas-value-label">
                  R$ 0,00
                </h3>

              </div>
            </a>
          </li>
          <li>
            <a class="contas-a" href="">

              <div style="display: flex; flex-direction: row;">

                <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
  
                <span style="max-width: 300px;">
  
                  <h3 class="contas-title-label">
                    IPTU FIRMA FERTILIZANTES FARDIN E FARDIN E FARDIN
                  </h3>
  
                  <p class="contas-subtitle-label">
                    01/01/2023
                  </p>
  
                </span>

              </div>

              <div>

                <h3 class="contas-value-label">
                  R$ 0,00
                </h3>

              </div>
            </a>
          </li>
        </ul>

      </div>
      
    </div>
  
  </div>

</div>