<div class="row box-tabs">

  <div class="col-md-10 box-info-financeiro">
    <div class="container-box">
      <div class="perfil">
        <div class="perfil-info">
          <div class="name">
            <p class="title-label">
              Boa tarde,
            </p>
            <p class="perfil-name-label">
              {{client}}
            </p>
          </div>

          <div class="balanco">
            <p class="title-label">
              saldo geral
            </p>
            <p>
              R$ 
              <strong class="strong-valor">
                {{saldo.total}}
              </strong>
            </p>
          </div>
        </div>

        <div class="perfil-list-info">
          <div class="info-box-label">
            <p class="title-info-box">
              receita mensal
            </p>
            <p class="valor-label" style="color: #129e3f;">
              R$ {{saldo.receita}}
            </p>
          </div>

          <div class="info-box-label">
            <p class="title-info-box">
              despensa mensal
            </p>
            <p class="valor-label" style="color: #d72638;">
              R$ {{saldo.despesas}}
            </p>

          </div>

          <div class="info-box-label">
            <p class="title-info-box">
              balanço do mês
            </p>
            <p class="valor-label" style="color: #3062d4;">
              R$ {{saldo.balanco}}
            </p>
          </div>
        </div>
      </div>

      <div class="add-rapido">
        <h2 class="add-rapido-title">
          Acesso rápido
        </h2>

        <ul class="btn-list">

          <li class="btn-action">
            <a class="btn-action-a" href="{% url 'financeiro:addcontapagarview' %}">

              <i class="fas fa-minus" style="color: #d72638; font-size: 43px; padding-left: 5px;"></i>

              <p class="btn-title">
                DESPESA
              </p>

            </a>
          </li>

          <li class="btn-action">
            <a class="btn-action-a" href="{% url 'financeiro:addcontareceberview' %}">

              <i class="fas fa-plus" style="color: #129e3f; font-size: 43px; padding-left: 5px;"></i>

              <p class="btn-title">
                RECEITA
              </p>

            </a>
          </li>

        </ul>

      </div>

    </div>

  </div>

</div>
<div class="row box-tabs">

  <div class="col-md-5 box-contas-pagar">

    <div class="container-contas-pagar">

      <h2 class="contas-title">
        Contas a pagar
      </h2>

      <div class="box-contas-notificacao" style="background-color: #fee6e6;">
        <span style="color: #d72638;">
          Contas Pendentes
        </span>
      </div>

      <div class="contas-pagar-list">
        <ul>
          {% if pagar.pendente %}
            {% for conta in pagar.pendente %}
              <li>
                <a class="contas-a" href="">
                  <div style="display: flex; flex-direction: row;">
                    <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
                    <span style="max-width: 300px;">
                      
                      <h3 class="contas-title-label">
                        {{conta.descricao}}
                      </h3>
                      <p class="contas-subtitle-label">
                        {{conta.vencimento}}
                      </p>

                    </span>
                  </div>
    
                  <div>
    
                    <h3 class="contas-value-label">
                      R$ {{conta.valor}}
                    </h3>
    
                  </div>
                </a>
              </li>
            {% endfor%}
          {% endif %}
        </ul>

      </div>

      <div class="box-contas-notificacao" style="background-color: #f8f8f8;">
        <span style="color: #858782;">
          Próximas
        </span>
      </div>

      <div class="contas-pagar-list">
        <ul>
          {% if pagar.proximo %}
            {% for conta in pagar.proximo %}
              <li>
                <a class="contas-a" href="">
                  <div style="display: flex; flex-direction: row;">
                    <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
                    <span style="max-width: 300px;">
                      
                      <h3 class="contas-title-label">
                        {{conta.descricao}}
                      </h3>
                      <p class="contas-subtitle-label">
                        {{conta.vencimento}}
                      </p>

                    </span>
                  </div>
    
                  <div>
    
                    <h3 class="contas-value-label">
                      R$ {{conta.valor}}
                    </h3>
    
                  </div>
                </a>
              </li>
            {% endfor%}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-md-5 box-contas-receber">

    <div class="container-contas-receber">

      <h2 class="contas-title">
        Contas a receber
      </h2>

      <div class="box-contas-notificacao" style="background-color: #fee6e6;">
        <span style="color: #d72638;">
          Contas A Receber Atrasadas
        </span>
      </div>

      <div class="contas-receber-list">
        <ul>

          {% if receber.pendente %}
          {% for conta in receber.pendente %}
            <li>
              <a class="contas-a" href="">

                <div style="display: flex; flex-direction: row;">

                  <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
                  
                  <span style="max-width: 300px;">

                    <h3 class="contas-title-label">
                      {{conta.descricao}}
                    </h3>

                    <p class="contas-subtitle-label">
                      {{conta.vencimento}}
                    </p>

                  </span>
                
                </div>

                <div>

                  <h3 class="contas-value-label">
                    R$ {{conta.valor}}</h3>
                </div>
              </a>
            </li>
          {% endfor%}
          {% endif%}

        </ul>
      </div>

      <div class="box-contas-notificacao" style="background-color: #f8f8f8;">
        <span style="color: #858782;">
          Próximas
        </span>
      </div>

      <div class="contas-receber-list">
        <ul>
          {% if receber.proximo %}
          {% for conta in receber.proximo %}
            <li>
              <a class="contas-a" href="">

                <div style="display: flex; flex-direction: row;">

                  <i class="material-icons contas-icon" style="background-color: rgb(255, 151, 124);">note</i>
                  
                  <span style="max-width: 300px;">

                    <h3 class="contas-title-label">
                      {{conta.descricao}}
                    </h3>

                    <p class="contas-subtitle-label">
                      {{conta.vencimento}}
                    </p>

                  </span>
                
                </div>

                <div>

                  <h3 class="contas-value-label">
                    R$ {{conta.valor}}</h3>
                </div>
              </a>
            </li>
          {% endfor%}
          {% endif%}
        </ul>

      </div>
      
    </div>
  
  </div>
</div>