

{% block content %}

  <table id="lista-database" class="table">

    <thead>
      <tr>
        <th>#ID</th>                   
        <th>Nome/Razão Social</th>
        <th>CPF/CNPJ</th>
        <th>Estado</th>
        <th>Município</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>

      {% if all_clientes%}

        {% for cliente in all_clientes %}

          <tr>

            <td>
              {{cliente.id}}
            </td>

            <td>
              {{cliente.nome_razao_social}}
            </td>

            <td>
              {{ cliente.cpf_cnpj|default_if_none:'' }}
            </td>

            <td>
              {{cliente.endereco.all.0.uf|default_if_none:""}}
            </td>

            <td>
              {{cliente.endereco.all.0.municipio|default_if_none:""}}
            </td>

            <td class="lista-remove">

                <!-- Botão de edição -->
                <a href="{% url 'cadastro:editarclienteview' cliente.id %}" class="btn btn-editar">
                  <i class="fa fa-pencil"></i>
                </a>

                <!-- Botão de excluir -->
                <!-- <a href="{% url 'cadastro:excluirclienteview' cliente.id %}" class="btn btn-excluir">
                  <i class="fa fa-trash"></i>
                </a> -->

            </td>

          </tr>

        {% endfor %}

      {%else%}

      {%endif%}

    </tbody>
  </table>

  <script>
    $(document).ready(function() {

      // table = $('#lista-database').DataTable( {
      //     paging: false
      // } );
      
      // table.destroy();
      
      // table = $('#lista-database').DataTable( {
      //     searching: false
      // } );

    });
  </script>

{% endblock content %}