{%extends 'base/base.html'%}

{%block content%}
<section id="main-content">
  <section class="wrapper">

    <h3>Listagem</h3>

    <div class="row">
      <div class="col-md-12">
        <div class="content-panel">

          <h4>{{title_complete}}</h4>

          <form action="" method="post">

            {% csrf_token %}

            <div class="header-btn">

              {% if saida %}

                <a href="{{add_url}}" class="btn btn-success add-button">
                  <i class="material-icons">&#xE148;</i>
                  <span> NOVA NOTA</span>
                </a>

              {% endif %}

              <a id="importar_nota" href="javascript:void(0);" class="btn btn-primary import-button">
                <i class="material-icons">&#xE884;</i>
                <span>IMPORTAR NOTA</span>
              </a>
            
            </div>

            {% include 'base/msg_sucesso.html' %}
            {% include 'base/msg_error.html' %}

            {% include 'base/search.html' %}

            <div class="table-responsive">

              <table id="lista-database" class="table">

                <thead>
                  <tr>
                    <th>#ID</th>
                    <th>Mod.</th>
                    <th>Série/Número</th>
                    <th>Data de emissão</th>
                    {% if saida %}
                    <th>Cliente</th>
                    {% elif entrada %}
                    <th>Fornecedor</th>
                    {% endif %}
                    <th>Status</th>
                    <th>Remover</th>
                  </tr>
                </thead>

                <tbody>

                  {% if all_notas%}

                    {% for nota in all_notas %}

                      <tr>

                        <td>
                          {{nota.id}}
                        </td>

                        <td>
                          {{nota.get_mod_display}}
                        </td>

                        <td>
                          {{nota.serie}}/{% if saida %}{{nota.n_nf_saida}}{% elif entrada %}{{nota.n_nf_entrada}}{% endif %}
                        </td>

                        <td>
                          {{nota.format_data_emissao|default_if_none:""}}
                        </td>

                        <td>
                          {% if saida %}{{nota.dest_saida}}{% elif entrada %}{{nota.emit_entrada}}{% endif %}
                        </td>

                        <td>
                          {{nota.get_status_nfe_display}}
                        </td>

                        <td class="lista-remove">

                          {% if saida %}

                            <!-- editar fornecedor -->
                            <a href="{% url 'fiscal:editarnotafiscalsaidaview' nota.id %}" class="btn btn-editar">
                              <i class="fa fa-pencil"></i>
                            </a>

                            <!-- Excluir fornecedor -->
                            <a href="" class="btn btn-excluir">
                              <i class="fa fa-trash"></i>
                            </a>

                          {% elif entrada %}

                            <!-- editar fornecedor -->
                            <a href="{% url 'fiscal:editarnotafiscalentradaview' nota.id %}" class="btn btn-editar">
                              <i class="fa fa-pencil"></i>
                            </a>

                            <!-- Excluir fornecedor -->
                            <a href="" class="btn btn-excluir">
                              <i class="fa fa-trash"></i>
                            </a>

                          {% endif %}

                        </td>

                      </tr>

                    {% endfor %}

                  {%else%}

                  {%endif%}

                </tbody>

              </table>

            </div>

          </form>

          {% include 'fiscal/nota_fiscal/modal_importar_nota.html' %}

        </div>

      </div>

    </div>

  </section>
</section>


{%endblock%}

{% block js %}
  {% include 'base/load_jqueryui.html' %}

  {% include 'base/tooltip_js.html' %}
    
   <script type="text/javascript">
    $('body').on('click', '#importar_nota', function(){
      $('.importar_nota_modal').modal('show');
    });

    $('form[id=form_importar_nota]').on('submit', function(){
        $('.page-loader-wrapper').show();
        '{% if entrada %}'
        $('.loader .loader-message').text('Importando nota fiscal do fornecedor, aguarde...');
        '{% elif saida %}'
        $('.loader .loader-message').text('Importando nota fiscal, aguarde...');
        '{% endif %}'
    });
  </script>
  
{% endblock %}