{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section id="main-content">

  <section class="wrapper">

    <div class="row">

      <div class="col-md-12" style="margin-left: 20px;">

        <div class="content-panel" style="background-color: transparent!important;">

          <b>
            {% include 'base/msg_error.html' %}
          </b>

          <b>
            {% include 'base/msg_sucesso.html' %}
          </b>

          <!--Header-->
          <div class="body" style="overflow:visible;">

            <h2>
              {{title_complete}}
            </h2>

            <div class="header-btn" style="margin-left: 0px!important;">

              {% if saida %}

              <div class="dropdown" style="display: inline-block;">

                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                  Ações
                  <span class="caret"></span>
                </button>

                <ul class="dropdown-menu pull-right">
                  <li><a href="{% url 'fiscal:validarnotafiscal' object.id %}">Validar XML</a></li>
                  <li><a href="{% url 'fiscal:emitirnotafiscal' object.id %}">Emitir Nota</a></li>
                  <li><a href="{% url 'fiscal:consultarnota' object.id %}">Consultar Nota</a></li>
                  <li><a href="{% url 'fiscal:baixarnota' object.id %}">Baixar Nota</a></li>
                  <li><a href="{% url 'fiscal:cancelarnotafiscal' object.id %}">Cancelar Nota</a></li>
                  <li><a href="{% url 'fiscal:copiarnotafiscal' object.id %}">Clonar Nota</a></li>
                  {% if object.mod == '55' %}
                  <li><a href="{% url 'fiscal:gerardanfe' object.id %}">Gerar DANFE</a></li>
                  {% elif object.mod == '65' %}
                  <li><a href="{% url 'fiscal:gerardanfce' object.id %}">Gerar DANFCE</a></li>
                  {% endif %}
                </ul>

              </div>

              {% endif %}

            </div>

          </div>
          <!--# Header-->

          <form role="form" action="" method="post" enctype="multipart/form-data">

            {% csrf_token %}

            {% include 'fiscal/nota_fiscal/nota_fiscal_form.html' %}

          </form>

          {% if saida %}
          {% include 'fiscal/nota_fiscal/modal_detalhe_produto_venda.html' %}
          {% elif entrada %}
          {% include 'fiscal/nota_fiscal/modal_detalhe_produto_compra.html' %}
          {% endif %}

        </div>

      </div>

    </div>

  </section>

</section>

{%endblock%}

{% block js %}

{% include 'fiscal/nota_fiscal/nota_fiscal_jsblock.html' %}

{% endblock %}