<!-- Body-->
<div class="body" id="tabs">

  <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 15px;">
    <li role="presentation" class="active"><a href="#tab_grupo" data-toggle="tab">GRUPO</a></li>
    <li role="presentation"><a href="#tab_subgrupos" data-toggle="tab">SUBGRUPOS</a></li>
  </ul>

  <div role="tabpanel" class="tab-pane active" id="tab_grupo">

    {% for field in form %}
    <div class="col-sm-6">
      <div class="form-group">
        <div class="form-line">
          <label>
            {{field.label}}
          </label>
          {% if field.field.required %}
          <strong style="color:red;"> *</strong>
          {% endif %}
          {% if field.errors %}
          <label class="error">
            {% for error in field.errors %}{{error}}{% endfor %}
          </label>
          {% endif %}
          {{field}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- #Tab grupo -->

  <!-- Tab grupo -->
  <div role="tabpanel" class="tab-pane formset-tab" id="tab_subgrupos" style="    margin-left: 35px!important;">
    <div class="row">
      <h4 style="border-bottom: 1px solid #afabab;">Subgrupos<i class="material-icons"
          style="font-size: 17px;padding-left:7px;"
          title="Subgrupos são especificações dos grupos criados, a adição de subgrupos é opcional.">&#xE887;</i>
      </h4>
    </div>
    <div class="row">
      {% include 'formset/formset_fields_sem_padrao.html' %}
    </div>
  </div>

  <button class="btn btn-success foot-btn" type="submit">
    <i class="material-icons">&#xE148;</i>
    <span>
      SALVAR
    </span>
  </button>
</div>
<!--#Body-->

<script>
  $(function () {
    // Ao carregar a página, mostre o conteúdo da primeira guia e adicione a classe "active" a ela
    $("#tabs > div:first-child").addClass("active");

    // Manipule o clique nas guias
    $("#tabs ul li a").click(function (event) {
      event.preventDefault();

      // Remova a classe "active" de todas as guias e oculte todos os conteúdos das guias
      $("#tabs ul li a").removeClass("active");
      $("#tabs > div").removeClass("active");

      // Adicione a classe "active" à guia clicada e mostre o conteúdo correspondente
      $(this).addClass("active");
      $($(this).attr("href")).addClass("active");
    });
  });
</script>