{%extends 'base/base.html'%}

{%block title%}Adicionar grupo{%endblock%}
{%block content%}
<section id="main-content">

  <section class="wrapper">

    <div class="row">

      <div class="col-md-12" style="margin-left: 15px!important; margin-top: 25px!important;">

        <!--Header-->
        <div class="body">

          <h2>
            <a href="{% url 'financeiro:planocontasview' %}">
              <i class="material-icons">&#xE5C4;</i>
            </a>
            ADICIONAR GRUPO
          </h2>

        </div>
        <!--# Header-->

        <form role="form" action="" method="post">

          {% csrf_token %}

          {% include 'financeiro/plano/grupo_form.html' %}

        </form>

      </div>

    </div>

  </section>

</section>


{%endblock%}

{% block js %}

{% include 'base/load_jqueryui.html' %}

{% include 'base/tooltip_js.html' %}

{% endblock %}