{%extends 'base/base.html'%}

{%block title%}{{object.descricao}}{%endblock%}
{%block content%}
<section id="main-content">

  <section class="wrapper" style="margin-left: 15px;">

    <!-- <h3>{% include 'base/title_header.html' %}</h3> -->

    <div class="row">

      <div class="col-md-12">

        <div class="content-panel" style="background-color: transparent!important;">

          <!--Header-->
          <div class="body">

            <h2>
              <a href="{% url 'financeiro:planocontasview' %}">
                <i class="material-icons">&#xE5C4;</i>
              </a>
              Editar: {{object.descricao}}
            </h2>

          </div>
          <!--# Header-->

          <form role="form" action="" method="post">

            {% csrf_token %}

            {% include 'financeiro/plano/grupo_form.html' %}

          </form>

        </div>

      </div>

    </div>

  </section>


  {%endblock%}

  {% block js %}

  {% include 'base/load_jqueryui.html' %}

  {% include 'base/tooltip_js.html' %}

  {% endblock %}