{%extends 'base/base.html'%}


{%block content%}
<section id="main-content">

  <section class="wrapper">

    <h3>{% include 'base/title_header.html' %}</h3>

    <div class="row">
      <div class="col-md-12">

        <div class="content-panel">

          <h4>{{title_complete}}</h4>

          <form action="" method="post">

            {% csrf_token %}

            <div class="header-btn">

              <a href="{{add_url}}" class="btn btn-success add-button">
                <i class="material-icons">&#xE148;</i>
                <span>ADICIONAR</span>
              </a>

            </div>

            {% include 'base/msg_sucesso.html' %}

            {% include 'base/search.html' %}

            <div class="table-responsive">
              <table id="lista-database" class="table">
                <thead>
                  <tr>
                    <th>#ID</th>
                    <th>Status</th>
                    <th>Fornecedor</th>
                    <th>Data de entrega</th>
                    <th>Total</th>
                    <th>Ações</th>
                  </tr>
                </thead>

                <tbody>
                  {% if all_pedidos%}
                  {% for pedido in all_pedidos %}
                  <tr class="clickable-row" data-href="{% url 'compras:editarpedidocompraview' pedido.id %}">
                    <td>{{pedido.id}}</td>
                    <td><b>{{pedido.get_status_display}}</b></td>
                    <td>{{pedido.fornecedor|default_if_none:""}}</td>
                    <td>{{pedido.format_data_entrega|default_if_none:""}}</td>
                    <td>{{pedido.format_valor_total}}</td>
                    <td class="lista-remove">

                      <a href="{% url 'compras:editarpedidocompraview' pedido.id %}" class="btn btn-editar">
                        <i class="fa fa-pencil"></i>
                      </a>

                      <a href="{% url 'compras:excluirpedidocompraview' pedido.id %}" class="btn btn-excluir">
                        <i class="fa fa-trash"></i>
                      </a>

                    </td>
                  </tr>
                  {% endfor %}
                  {%else%}
                  {%endif%}
                </tbody>
              </table>
            </div>

          </form>

        </div>

      </div>
    </div>

  </section>

</section>


{%endblock%}