{%extends 'base/base.html'%}


{%block content%}
<section id="main-content">

  <section class="wrapper">

    <h3>{% include 'base/title_header.html' %}</h3>

    <div class="row">
      <div class="col-md-12">
        <div class="content-panel">

          <h4>{{title_complete}}</h4>

          <form action="" method="post">

            {% csrf_token %}

            <div class="body" style="overflow:visible;">

              <div class="header-btn">

                {% if add_url %}
                <a href="{{add_url}}" class="btn btn-success add-button">
                  <i class="material-icons">&#xE148;</i>
                  <span>ADICIONAR</span>
                </a>
                {% else %}

                <div class="dropdown" style="display: inline-block;">
                  <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Adicionar
                    <span class="caret"></span></button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="{% url 'estoque:addentradaestoqueview' %}">Entrada em estoque</a></li>
                    <li><a href="{% url 'estoque:addsaidaestoqueview' %}">Saída de estoque</a></li>
                    <li><a href="{% url 'estoque:addtransferenciaestoqueview' %}">Transferência de estoque</a></li>
                  </ul>
                </div>
                {% endif %}

              </div>
            </div>

            <div class="body">
              <br>

              {% include 'base/search.html' %}

              {% if all_movimentos %}
              {% include 'estoque/movimento/todos_movimentos_list_table.html' %}
              {% elif all_entradas %}
              {% include 'estoque/movimento/entradas_estoque_list_table.html' %}
              {% elif all_saidas %}
              {% include 'estoque/movimento/saidas_estoque_list_table.html' %}
              {% elif all_transferencias %}
              {% include 'estoque/movimento/transferencias_estoque_list_table.html' %}
              {% else %}
              Nenhum registro encontrado
              {% endif %}

            </div>

          </form>

          {% include 'financeiro/lancamento/modal_selecionar_data.html' %}

        </div>
      </div>
    </div>

  </section>

</section>


{%endblock%}

{% block js %}
{% load static %}
<!-- JQuery Mask Input Js -->
<script src="{% static 'js/jquery.mask.js' %}"></script>

{% include 'base/load_jqueryui.html' %}

{% include 'base/datepicker_js.html' %}

{% include 'base/tooltip_js.html' %}

<script type="text/javascript">
  var req_urls = {}
  req_urls.gerar_lancamento_url = "{% url 'financeiro:gerarlancamento' %}"

  $.Admin.maskInput.maskLancamento();
  $.Admin.lancamentoList.init(req_urls);
</script>

{% endblock %}