{%extends 'base/base.html'%}

{%block title%}{{titulo}}{%endblock%}

{%block side_top_bars%}{%endblock%}

{%block content%}

<section id="main-content">
	<section class="wrapper" style="margin-left: 25px; margin-top: 80px;">

		<h2>
			<!-- <a href="{{return_url}}">
				<i class="material-icons">&#xE5C4;</i>
			</a> -->
			{{titulo}}
		</h2>

		<div class="row">
			<div class="col-md-12">

				<form id="popupform" role="form" action="" method="post">

					{% csrf_token %}

					{% for field in form %}

					<div class="form-group">

						<label>{{field.label}}</label>

						{% if field.errors %}
						<label class="error">
							{% for error in field.errors %}
							{{error}}
							{% endfor %}
						</label>
						{% endif %}

						<div class="input-group">
							<div class="form-line">
								{{field}}
							</div>
						</div>

					</div>

					{% endfor %}

					<button class="btn btn-success foot-btn" type="submit">
						<i class="material-icons">&#xE148;</i>
						<span> SALVAR</span>
					</button>

				</form>

			</div>
		</div>

	</section>
</section>

{%endblock%}

{% block js %}
<script>

	$.Admin.popupwindow.init();

</script>
{% endblock %}