    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">

    <!-- Bootstrap Css -->
    <link href="{% static 'bootstrap_js/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Jquery 3.0.0 Js -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script> -->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>